# macOS only
.DS_Store

# Python build and test artifacts
__pycache__
*.egg-info
.coverage
coverage.xml
htmlcov/
.pytest_cache/
build/
dist/

# Pyve virtual environment
.pyve/testenv
.envrc
.env
.venv

# MkDocs build output
/site/
